#main
  p#message.message.hidden
  #discover
    h1.main-heading
      | Meet your next favorite song.
    div.main-search
      input(data-action='main-search' class="main-search-input" type='text'
      name='artist-name' placeholder='Type an artist you like')
      label
        input(data-action="main-search-submit" type="button" class="main-search-submit")
        span(id="search_submit" class='oi main-search-icon'
             data-glyph='magnifying-glass')
