#main-loader(data-id="main-loader")
#playlist
  table.table-playlist.hidden
    thead
      tr
        th(id="track-head") Track
        th(id="artist-head") Artist
  a(data-action="load-more" class="btn-load-more hidden")
    | Load more
  #more-loader(data-id="more-loader") 
