#player-controls.hidden
  ul#controls
    li
      button(class="btn" data-action="previous-track")
        span(class="oi" data-glyph="media-step-backward")
    li
      button(class="btn" data-action="play-track")
        span(class="oi" data-glyph="media-pause")
    li
      button(class="btn" data-action="next-track")
        span(class="oi" data-glyph="media-step-forward")
    li
      button(class="btn toggle-player" data-action="toggle-player")
        span(class="oi" data-glyph="chevron-bottom")
    li#now-playing
      span(data-action="display-track-name")#track
      br
      span(data-action="display-artist-name")#artist
