// Viewport range

$viewport-min-width: 320;
$viewport-max-width: 1200;

// Device dimensions
$breakpoints: (
  xs-only: (max-width: 500px),
  extra-small : (min-width: 576px),
  small: (min-width: 767px),
  medium: (min-width: 992px),
  large: (min-width: 1200px),
  max: (min-width: #{$viewport-max-width}px)
);

// Base colors
$color-base-grey: rgb(229, 231, 234);
$color-base-black: hsl(342, 80%, 10%);
$color-base-white: hsl(342, 70%, 100%);
$color-base-red: hsl(342, 100%, 25%);

// Color palettes
$palettes: (
  red:
    (
      base: $color-base-red,
      light: lighten($color-base-red, 15%),
      mid-light: lighten($color-base-red, 5%),
      dark: darken($color-base-red, 15%),
      x-light: lighten($color-base-red, 25%),
      light-45: lighten($color-base-red, 45%)
    ),
  white: (base: $color-base-white),
  black: (base: $color-base-black, light: lighten($color-base-black, 15%)),
  grey:
    (
      base: $color-base-grey,
      light: lighten($color-base-grey, 2%),
      dark: darken($color-base-grey, 15%)
    )
);

// UI element dimensions

// Font size range
$font-size-min: 14;
$font-size-max: 24;

// input text.
$input-font-size: 1.4;
$input-pad: 0.5;

// player
$player-min-size: 320;
$player-small-size: 500;
$player-min-ratio: 1.523809524;
$player-small-ratio: 1.607717042;
$player-transition-duration: 0.4;

// player-control
$player-controls-height: 80;

// toggle-icon
$toggle-icon-transition-duration: $player-transition-duration;

// playlist
$playlist-item-pad: 1;

// defaults
$def-pad: 20px;
