script(type='text/javascript' src='../vendor/scripts/javascript-last.fm-api-master/lastfm.api.md5.js')
script(type='text/javascript' src='../vendor/scripts/javascript-last.fm-api-master/lastfm.api.js')
script(type='text/javascript' src='scripts/bundle.js')
