script(type='text/javascript' src='../vendor/scripts/javascript-last.fm-api-master/lastfm.api.md5.js')
script(type='text/javascript' src='../vendor/scripts/javascript-last.fm-api-master/lastfm.api.cache.js')
script(type='text/javascript' src='../vendor/scripts/javascript-last.fm-api-master/lastfm.api.js')

script(type='text/javascript' src='../vendor/components/jquery/dist/jquery.min.js')

script(type='text/javascript' src='../scripts/youtube_bridge.js')
script(type='text/javascript' src='../scripts/lastfm_bridge.js')
script(type='text/javascript' src='../scripts/tube.js')
