script(type='text/javascript' src='scripts/vendor.all.min.js')
script(type='text/javascript' src='../scripts/youtube_bridge.js')
script(type='text/javascript' src='../scripts/lastfm_bridge.js')
script(type='text/javascript' src='../scripts/tube.js')
