title bandhound - Discover new music while listening.
link(rel="icon" type="image/ico" href="favicon.ico")
meta(name='viewport' content='width=device-width, initial-scale=1')
link(href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' 
     rel='stylesheet' type='text/css')
link(rel='stylesheet' type='text/css' href='styles/font-awesome/css/font-awesome.css')
link(rel='stylesheet' type='text/css' href='styles/pages/index.css')
  
