html
  head
    include ../base/head.jade
  body
    include ../modules/header.jade
    .container.content-main
      include ../modules/playlist.jade
      include ../modules/player.jade

    include ../base/bottom.jade
