html
  head
    include ../base/head.jade
  body
    .container
      include ../modules/header.jade
      include ../modules/search.jade
      include ../components/playtube.jade

    include ../base/bottom.jade
