.input-control
  border-color: palette(white)
  transition: border-color 0.2s ease-out
  background: palette(red)
  border: none
  border-bottom: 2px solid palette(white)
  width: 100%
  font-size: $input-font-size * 1em
  padding: $input-pad * 1em 0

  &:focus
    outline: none
    border-color: palette(red, x-light)

.btn
  font-size: $input-font-size * 1em
  padding: $input-pad * 1em

  &:hover
    cursor: pointer
    background-color: palette(grey)

  &::-moz-focus-inner
    border: 0

.btn-load-more
  text-align: center
  border: 1px solid palette(white)
  display: inline-block
  margin-top: 20px
  width: 100%

  &:hover
    cursor: pointer
    background: palette(white)
    color: palette(red, light)
