.home
  display: flex
  flex: 1
  flex-flow: column
  align-items: center
  justify-content: center
  padding-left: 2em
  padding-right: 2em

.logo
  font-size: 4em
  margin-bottom: 1rem

  a:hover
    background: transparent

.subtitle
  font-size: 2em
  margin-bottom: 3.5rem
  text-align: center
