.player-controls
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  bottom: 0
  font-weight: 100
  height: $player-controls-height
  left: 0
  width: 100%
  background: palette(red, dark)
  padding: 0 2em

.control
  font-size: 2em
  transition: color 0.2s ease-out

  &:hover
    cursor: pointer
    color: palette(red, x-light)

.controls
  margin-left: -20px

  @include respond-to(xs-only)
    display: flex
    justify-content: space-between
    width: 60%

  .control
    padding: 20px


    @include respond-to(small)
      margin-right: 1em

.now-playing
  display: none
  color: #ccc
  font-size: 1em
  padding-right: 10px

  @include respond-to(small)
    display: inline-block

  .playing-artist
    color: palette(white)

.toggle-control
  padding: 20px
  margin-right: -10px
