script(type='text/javascript' src='scripts/lastfm_api/_lastfm.api.md5.js')
script(type='text/javascript' src='scripts/lastfm_api/lastfm.api.js')
script(type='text/javascript' src='scripts/bundle.js')
