title bandhound (preview) - An easier way to discover new music.
link(rel="icon" type="image/ico" href="favicon.ico")
meta(name='viewport' content='width=device-width, initial-scale=1')
link(href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' 
     rel='stylesheet' type='text/css')
link(rel='stylesheet' type='text/css' 
     href='www/styles/open-iconic/font/css/open-iconic.min.css')
link(rel='stylesheet' type='text/css' href='www/styles/pages/index.css')
