.align-middle
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

.align-middle-abs
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.container
  margin: 0 auto
  padding: 0 1em

  @include respond-to(extra-small)
    max-width: 540px

  @include respond-to(small)
    max-width: 720px

  @include respond-to(medium)
    max-width: 930px

  @include respond-to(large)
    max-width: 1125px
