html
  head
    include ../base/head.jade
  body
    include ../modules/header.jade
    .container
      #content-main
        include ../modules/main.jade
        include ../modules/playlist.jade
    include ../modules/player.jade
    include ../modules/player_controls.jade
    include ../base/bottom.jade
