.header
  .container
    #logo
      a(href='index.html') bandhound
    #search
      input(id='search-artist' type='text' name='artist-name' 
            placeholder='Search artist')
      span(class='oi search-icon' data-glyph='magnifying-glass')
