.header
    .logo
      a(href="index.html")#logo bandhound
    #search.search
      input(id="search-artist" type='text' name='artist-name' class="icon-search search"
        placeholder='Search artist')
      
      i.fa.fa-search.search-icon
