.header
  .container
    .logo
      a(href="index.html")#logo bandhound
    #search
      input(id="search-artist" type='text' name='artist-name' 
            class="icon-search input-search" placeholder='Search artist')
      i.fa.fa-search.search-icon
