.header
  .container
    #logo
      a(href='/') bandhound
    #search
      input(id='search-artist' type='text' name='artist-name' 
            placeholder='Search artist')
      span(id="search_submit" class='oi search-icon' data-glyph='magnifying-glass')
