tr
  th Track
  th Artist
tr
  td Pachuca sunrise
  td Minus the bear
tr
  td Andromeda
  td Hopesfall
tr
  td One-armed bandit
  td Jaga jazzist
tr
  td Honey
  td Open hand
tr
  td Homework
  td Daft punk
tr
  td Isla
  td Portico Quartet
tr
  td 4x4
  td Steve reich
tr
  td Of heart
  td City and colour
tr
  td Green to me
  td Hum
tr
  td Pachuca sunrise
  td Minus the bear
tr
  td Andromeda
  td Hopesfall
tr
  td One-armed bandit One-armed 
  td Jaga jazzist
tr
  td Honey
  td Open hand
tr
  td Homework
  td Daft punk
tr
  td Isla
  td Portico Quartet
tr
  td 4x4
  td Steve reich
tr
  td Of heart
  td City and colour
tr
  td Green to me
  td Hum
