#player-fixed
  #video-container
    #player

#player-controls
  ul#controls
    li
      a(id="previous-track")
        i.fa.fa-backward
    li
      a
        i.fa.fa-pause(id="play-track" data-play-action="stop")
    li
      a(id="next-track")
        i.fa.fa-forward
    li#toggle-player
      a(id="toggle-player")
        i.fa.fa-chevron-down

