#content-main.grid.grid-gut.main-content
  #playlist.col-1-1
      table.table-playlist.hidden
        thead
          tr
            th(id="track-head") Track
            th(id="artist-head") Artist
      input#load-more(type="submit" value="Load more" class="hidden")
  
.grid.grid-gut
  #loader-container.col-1-2.hidden
    #loader.loader
