#player-controls
  ul#controls
    li
      a(id="previous-track")
        span(class="oi" data-glyph="media-step-backward")
    li
      a
        span(id="play-track" class="oi" data-glyph="media-pause")
    li
      a(id="next-track")
        span(class="oi" data-glyph="media-step-forward")
    li
      a(id="toggle-player")
        span(class="oi" data-glyph="chevron-bottom")
    li#now-playing
      span#track
      br
      span#artist
