#content-main.grid.grid-gut.main-content
  #hero
    h2
      | Discover new music while listening.
  #loader-container.hidden
    #loader.loader
  #col-playlist.col-1-2
      table#playlist.playlist
      input#load-more(type="submit" value="Load more" class="hidden")
