ul#controls
  li
    input(type='button' value="<<" id="previous-track")
  li
    input(type='button' value="||" id="play-track" data-play-action="stop")
  li
    input(type='button' value=">>" id="next-track")
