.highlight
  border: 1px solid red

.table-playlist
  width: 100%
  tr
    border-top: 1px solid black
    border-bottom: 1px solid black
    padding: 10px
  tr:hover, tr.current
    background: #ccc
    cursor: pointer
  th
    background: black
    color: white

  th, td
    text-align: left
    padding: 10px

#load-more
  width: 100%
  padding: 5px
  margin-top: 10px
