#player-fixed
  width: 340px
  position: fixed
  right: 0
  bottom: 50px
   
#player-controls
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 50px
  font-size: 1.6em
  background: #222
  padding: 15px 10px


#toggle-player
  float: right

#controls
  a
    color: #fff
    border: 0px solid #fff
    padding: 5px 15px
    &:hover
      // color: white
      // background: gray

#now-playing
  color: #ccc
  float: right
  margin-top: -3px
  font-size: 0.6em

  #artist
    color: #fff
