#player-controls
  position: fixed
  bottom: 0
  font-weight: 100
  left: 0
  width: 100%
  height: $player-controls-height
  font-size: 150%
  background: $black-red
  padding: 0 30px
  padding-top: 10px

#toggle-player
  float: right
  position: relative
  top: -7px
  top: 0

#controls
  a
    display: inline-block
    padding: 10px
    &:hover
      background: transparent
      color: $gray-light-red

#now-playing
  color: #ccc
  float: right
  font-size: 50%
  padding: 10px

  #artist
    color: #fff
