.table-playlist
  color: $white
  width: 100%

  tr
    th
      background: $black-red
      &:hover
        cursor: auto

    &:nth-child(even)
      background: $dark-red

    &:hover, &.current
      background: $light-red
      cursor: pointer

    th, td
      text-align: left
      padding: $playlist-item-pad

    th#track-head
      width: 65%

    th#artist-head
      width: 35%

.btn-load-more
  text-align: center
  border: 1px solid $white
  width: 100%
  display: inline-block
  margin: 20px auto
  padding: 10px
  font-size: 1.2em
  height: 40px


  &:hover
    background: $white
